.align--v_center {
    > div {
        text-align: center;
        color: green;
        line-height: 5rem;
        width: 5rem;
        i {
            display: inline-block;
            font-size: 26px;
            line-height: 1;
            vertical-align: middle;
        }
    }
}
